{%- assign page_title = page.title | default: 'About Us' -%}

<div class="min-h-screen bg-auzrix-black">
  {% section 'about-hero' %}
  {% section 'about-mission' %}
  {% section 'about-values' %}
  {% section 'journey-timeline' %}
</div>